*,
*::before,
*::after {
  box-sizing:  border-box;
  margin:      0;
  padding:     0;
}

a {
  color: inherit;
}

nav {
  padding:    0.5em 1em;
  color:      black;
  background: lightpink;
}

nav ul {
  display:    flex;
  flex-flow:  row;
  gap:        1em;
  margin: 0;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  border-bottom: 1px dashed gray;
  &.title {
    border: none;
  }
}

main {
  padding: 2em;
  max-width:  700px;
  display:    flex;
  flex-flow:  row;
}
