{:paths ["bb"]
 :tasks {dev:init      {:doc      "Initialize dev setup"
                        :requires ([init :as i])
                        :task     (i/init)}

         dev:up        {:doc      "Start dev env"
                        :requires ([babashka.process :as p])
                        :task     (apply p/shell {:dir "./examples/simple"} "docker compose up" *command-line-args*)}

         dev:down      {:doc      "Stop dev env"
                        :requires ([babashka.process :as p])
                        :task     (p/shell {:dir "./examples/simple"} "docker compose down --remove-orphans")}

         dev:logs      {:doc      "Show env logs"
                        :requires ([babashka.process :as p])
                        :task     (p/shell {:dir "./examples/simple"} "docker compose logs -f")}

         test:unit     {:doc  "Run unit tests"
                        :task (apply clojure "-M:dev:test:kaocha" (if (seq *command-line-args*)
                                                                    *command-line-args*
                                                                    ["unit"]))}

         test:itest    {:doc  "Run integration tests"
                        :task (apply clojure "-M:dev:test:kaocha" (if (seq *command-line-args*)
                                                                    *command-line-args*
                                                                    ["itest"]))}

         test:watch    {:doc  "Run unit tests in watch mode"
                        :task (clojure "-M:test:kaocha"
                                       (or (first (seq *command-line-args*)) "unit")
                                       "--fail-fast"
                                       "--watch")}

         outdated:clj  {:doc      "Check for outdated Clojure deps"
                        :requires ([babashka.process :as p])
                        :task     (clojure "-M:outdated")}

         outdated:vend {:doc      "Check for outdated vendor artifacts"
                        :requires ([vend-deps :as v])
                        :task     (v/outdated)}}}
