{:paths   ["src/main"]
 :deps    {;;
           ;; Component integration:
           ;;

           integrant/integrant                {:mvn/version "0.13.1"}

           ;;
           ;; Malli and Reitit:
           ;;

           metosin/malli                      {:mvn/version "0.20.0"}
           metosin/reitit-core                {:mvn/version "0.10.0"}
           metosin/reitit-middleware          {:mvn/version "0.10.0"}
           metosin/reitit-ring                {:mvn/version "0.10.0"}
           metosin/reitit-malli               {:mvn/version "0.10.0"}
           metosin/muuntaja-form              {:mvn/version "0.6.11"}

           ;;
           ;; Web:
           ;;

           ring/ring-core                     {:mvn/version "1.15.3"}
           metosin/ring-http-response         {:mvn/version "0.9.5"}
           info.sunng/ring-jetty9-adapter     {:mvn/version "0.39.1"}
           metosin/jsonista                   {:mvn/version "0.3.13"}
           dev.onionpancakes/chassis          {:mvn/version "1.0.365"}
           buddy/buddy-sign                   {:mvn/version "3.6.1-359"}

           ;;
           ;; Postgres:
           ;;

           com.github.igrishaev/pg2-core      {:mvn/version "0.1.42"}
           com.github.igrishaev/pg2-honey     {:mvn/version "0.1.42"}
           com.github.igrishaev/pg2-migration {:mvn/version "0.1.42"}

           ;;
           ;; Logging:
           ;;

           org.clojure/tools.logging          {:mvn/version "1.3.1"}
           org.slf4j/log4j-over-slf4j         {:mvn/version "2.0.17"}
           org.slf4j/jcl-over-slf4j           {:mvn/version "2.0.17"}
           org.slf4j/jul-to-slf4j             {:mvn/version "2.0.17"}}

 :aliases {:dev             {:extra-paths ["src/dev" "src/build"]
                             :extra-deps  {org.clojure/clojure    {:mvn/version "1.12.4"}
                                           org.slf4j/slf4j-simple {:mvn/version "2.0.17"}}}

           :test            {:extra-paths ["src/test"]
                             :extra-deps  {lambdaisland/kaocha        {:mvn/version "1.91.1392"}
                                           nubank/matcher-combinators {:mvn/version "3.9.2"}
                                           ring/ring-mock             {:mvn/version "0.6.2"}
                                           org.slf4j/slf4j-simple     {:mvn/version "2.0.17"}}}

           :kaocha          {:main-opts ["-m" "kaocha.runner"]}

           ;;
           ;; Examples:
           ;;

           :examples/simple {:extra-paths ["examples/simple/src"]
                             :extra-deps  {org.slf4j/slf4j-simple {:mvn/version "2.0.17"}}}}}
