{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure        {:mvn/version "1.12.0"}
           integrant/integrant        {:mvn/version "0.11.0"}

           ;; Louhi
           jarppe/louhi               {:local/root "../.."}

           ;; Some HTTP server is required:
           com.s-exp/hirundo          {:mvn/version "0.1.40"}

           ;; Optional, required if using louhi.util.cookie-session
           buddy/buddy-sign           {:mvn/version "3.6.1-359"}

           ;; Simple logging:
           org.clojure/tools.logging  {:mvn/version "1.3.0"}
           org.slf4j/slf4j-simple     {:mvn/version "2.0.16"}
           org.slf4j/log4j-over-slf4j {:mvn/version "2.0.16"}
           org.slf4j/jcl-over-slf4j   {:mvn/version "2.0.16"}
           org.slf4j/jul-to-slf4j     {:mvn/version "2.0.16"}}

 :aliases {:dev {:extra-deps {integrant/repl                 {:mvn/version "0.3.3"}
                              ;; Needed when louhi in in local/root, the clojure.tools.namespace.repl 
                              ;; tries to reload every _file_
                              info.sunng/ring-jetty9-adapter {:mvn/version "0.35.0"}
                              http-kit/http-kit              {:mvn/version "2.8.0"}
                              com.s-exp/hirundo              {:mvn/version "0.1.40"}}
                 :jvm-opts   ["-DMODE=dev"]}}}
