button {
  color:             inherit;
  border:            none;
  border-radius:     100vw;
  position:          relative;
  background-color:  var(--color-text);
  color:             var(--color-bg);
  padding:           0.62em 1.5em;

  &[disabled],
  &[aria-busy="true"] {
    color:   var(--color-disabled);
    cursor:  not-allowed;
  }

  display:    flex;
  flex-flow:  row;
  gap:        0.5em;
}