i {
  display:         inline-block;
  font-family:     "Material Symbols Outlined";
  font-weight:     normal;
  font-style:      normal;
  font-size:       100%;
  line-height:     inherit;
  letter-spacing:  normal;
  text-transform:  none;
  white-space:     nowrap;
  word-wrap:       normal;
  direction:       ltr;
}