.notification {
  padding:        1em;
  border-radius:  var(--border-radius);

  >i {
    padding-right:  0.5em;
  }
}

.notification.error {
  background-color:  var(--color-error);
  color:             var(--color-100);
}

.notification.info {
  background-color:  var(--color-info);
  color:             var(--color-900);
}